{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<h2>User History</h2>
<table class ='table'>
    <thead>
        <tr>
            <th>Stock</th>
            <th>Unit Price ($)</th>
            <th>Number of Shares</th>
            <th>Date</th>
            <th>Transaction</th>

        </tr>
    </thead>
    <tbody>

        {%for row in history%}
            <tr>
                <td>{{row.stock_id}}</td>
                <td>{{row.unit_price}}</td>
                <td>{{row.shares}}</td>
                <td>{{row.tstamp}}</td>
                <td>{{row.tran}}</td>

            </tr>
        {%endfor%}

    </tbody>
</table>
<br>

{% endblock %}
